main h1{
    font-family:'Times New Roman', Times, serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.styled-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #ffffff; 
    font-size: 35px; 
    font-weight: 700; 
    text-align: center; 
    margin: 20px auto; 
    padding: 15px 20px; 
    background: linear-gradient(90deg, #1a73e8, #0d47a1); 
    border-radius: 8px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.styled-heading:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); 
}


h1, h4, p {
    margin: 0 0 1em 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.styled-title {
    font-family: 'Roboto', sans-serif; 
    color: #0d47a1; 
    font-size: 19px; 
    font-weight: 700; 
    margin: 15px 0; 
    padding: 10px 15px; 
    background-color: #e3f2fd; 
    border-left: 5px solid #1a73e8; 
    border-radius: 5px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.styled-title:hover {
    transform: translateX(10px); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}


.image-container {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-link {
    color: #1a73e8; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 18px; 
    padding: 8px 12px; 
    border-radius: 5px; 
    margin-left:500px;
    transition: all 0.3s ease; 
    background-color: #f0f4ff; 
}

.custom-link:hover {
    color: #ffffff; 
    background-color: #0d47a1; 
    text-decoration: underline; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 768px) {
    .styled-heading {
        font-size: 31px; 
        padding: 10px 15px; 
    }

    .styled-title {
        font-size: 19px; 
        padding: 8px 12px; 
        margin: 10px 0; 
    }

    .custom-link {
        font-size: 16px; 
        margin-left:130px;
        padding: 6px 10px; 
    }

    .image-container img {
        max-width: 100%; 
        height: auto; 
    }

    p {
        font-size: 16px; 
        padding: 0 10px; 
    }

}







