*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
 }   

 body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

 html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.navbar {
    background-color: #333;
    padding: 10px 20px;
}


.navbar-logo {
    width: 110px;
    height: 48px;
    overflow:hidden;
}

.navbar-logo img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.navbar-menu {
    list-style-type: none;
    margin:0;
    padding: 0;
    display: flex;
    gap: 50px; 
}

.navbar-menu li {
    margin-right:35px;
}

.navbar-menu a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:21px;
    display: block;
}

.navbar-menu a:hover {
    background-color: #575757;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.hamburger {
  display: none; 
  cursor: pointer;
  font-size: 24px;
}


@media (max-width: 768px) {
  .navbar-menu {
      display: none; 
      flex-direction: column;
      position: absolute;
      top: 60px; 
      right: 0;
      background-color:cadetblue;
      width: 200px; 
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      padding: 10px;
      z-index: 1000;
  }

  .navbar-menu.show {
      display: flex; 
  }

  .hamburger {
      display: block; 
      color:wheat;
  }
}



main {
    flex: 1;
}

h1{
  display:flex;
  justify-content: center;
}


.footer {
    background-color: black;
    color: #fefefe;
    margin-bottom:0;

  }
  
  .footer .heading {
    color: #fefefe;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
  }
  
  .footer .content p {
    margin-bottom: 1.3rem;
  }
  
  .footer .content a {
    color: #fefefe;
    text-decoration: none;
  }
  
  .footer .content a:hover {
    color: palevioletred;
  }
  
  .footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
    
  }
  
  footer {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  footer hr {
    margin: 2rem 0;
  }

  .footer h4:hover{
     color:red;
  }

  .footer h2:hover{
    color:yellow;
    font-size:25px;
 }

 .services p:hover{
  color: palevioletred;
 }

 #cpyrt:hover{
  color: palevioletred;
 }


  @media (max-width: 767px) {
    .footer .content {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
  
    .footer {
      position: unset;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer .content,
    .footer {
      font-size: 14px;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .footer {
      position: unset;
    }
  }